@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
 /* general */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: poppines,sans-serif;
}
html{
    scroll-behavior: smooth;
}
p{
    color: black;
}
/* transition */
a, .btn{
    transition: all 300 ms ease;
}
/* Desktop nav*/
nav, .nav-linkes{
    display: flex;
    
}
nav{
    justify-content: space-around;
    align-items: center;
    background-color:white;
    height: 16vh;
}
.nav-linkes{
   gap: 2.2rem; /*16px=1rem*/
   list-style: none;
   font-size: 1.5rem;
  
}
a{
    color: black;
    text-decoration: none;
    text-decoration: white;
}
a:hover{
    color:gray;
    text-decoration: underline;
    text-underline-offset: 1rem; /* underline gap*/
    transition: 300ms ease;
}
.logo{
    font-size: 2rem;
}
.logo:hover{
    cursor: default;
}
   


   
   
/* section-profile */
section{
  padding-top: 4vh;
  height: 94vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  
}
.section-container{
    display: flex;
}
/* profile */
#profile{
    display: flex;
    justify-content: center;
    gap: 4rem;
    height: 80vh;
}
.section-pic-con{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
   
}
.section-txt{
    align-self: center;
    text-align: center;
}
.section-txt p{
    font-weight: 600;
}
.section-txt-p1{
    text-align: center;
}
.section-txt-p2{
    font-size: 1.7rem;
    margin-bottom:1rem ;
}
.title{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;

}
/* icons */
.icon{
    cursor: pointer;
    height: 2rem;
    margin-top: 1rem;

}

/* buttons style */
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;

}
.btn-btn-clr-2{
    font-weight: 600;
    
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    color: black;
}
.btn-btn-clr-1{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
   background-color: black;
    color: white;
}.btn-btn-clr-1,.btn-btn-clr-2{
    border: rgb(53,53, 53) 0.1rem solid;
}

.btn-btn-clr-1:hover,
.btn-btn-clr-2:hover{
   cursor: pointer;
   scale: 1.05;
}
.btn-container{
    gap: 1rem;
}
/* about section */

#about{
    position: relative;
}

.icon-arrow{
    cursor: pointer;
    height: 2rem;
}


  
.about-container{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container{
   
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   margin-left: 50px;
}
.about-container,.about-details-container{
    display: flex;
}
.about-pic{
    border-radius: 2rem;
   
}
.icon-arrow{
   position: fixed;
    right: -5rem;
    bottom: 2.5rem;
}
.details-container{
    padding: 1.5rem;
    flex: 1;
    background-color: white;
  border: 1px solid ;
  border-radius: 35px;

}
.text-container {
    padding: 0.5rem;
}
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}
.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}



/* projects */

#projects{
    position:relative;
}
.project-img{
    border-radius: 2rem;
    height: 40%;
    width: 30%;

}



article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* contact */
#contact{
    display: flex;
    justify-content: center;
    flex-direction:column ;
    height: 100vh;

}
.contact-info-up-container{

    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: antiquewhite;
    margin: 2rem auto;
    padding: 0.5rem;
}
.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}
.email-icon{
    height: 2.5rem;
}
.contact-icon{
    height: 2.5rem;

}
.contact-info-container p{
    font-size: larger;
}

